@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?pxt447');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?pxt447#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?pxt447') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?pxt447') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?pxt447##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="lodur-icon-"], [class*=" lodur-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lodur-icon-athlete-1 {
  &:before {
    content: $lodur-icon-athlete-1; 
  }
}
.lodur-icon-chevron-up {
  &:before {
    content: $lodur-icon-chevron-up; 
  }
}
.lodur-icon-dollar {
  &:before {
    content: $lodur-icon-dollar; 
  }
}
.lodur-icon-list-ordered {
  &:before {
    content: $lodur-icon-list-ordered; 
  }
}
.lodur-icon-bin {
  &:before {
    content: $lodur-icon-bin; 
  }
}
.lodur-icon-chat {
  &:before {
    content: $lodur-icon-chat; 
  }
}
.lodur-icon-more {
  &:before {
    content: $lodur-icon-more; 
  }
}
.lodur-icon-minus2 {
  &:before {
    content: $lodur-icon-minus2; 
  }
}
.lodur-icon-alert {
  &:before {
    content: $lodur-icon-alert; 
  }
}
.lodur-icon-arrow-small-down {
  &:before {
    content: $lodur-icon-arrow-small-down; 
  }
}
.lodur-icon-close2 {
  &:before {
    content: $lodur-icon-close2; 
  }
}
.lodur-icon-list {
  &:before {
    content: $lodur-icon-list; 
  }
}
.lodur-icon-three-bars {
  &:before {
    content: $lodur-icon-three-bars; 
  }
}
.lodur-icon-mail-read {
  &:before {
    content: $lodur-icon-mail-read; 
  }
}
.lodur-icon-arrow-small-up {
  &:before {
    content: $lodur-icon-arrow-small-up; 
  }
}
.lodur-icon-arrow-small-left {
  &:before {
    content: $lodur-icon-arrow-small-left; 
  }
}
.lodur-icon-arrow-small-right {
  &:before {
    content: $lodur-icon-arrow-small-right; 
  }
}
.lodur-icon-mail {
  &:before {
    content: $lodur-icon-mail; 
  }
}
.lodur-icon-less {
  &:before {
    content: $lodur-icon-less; 
  }
}
.lodur-icon-note {
  &:before {
    content: $lodur-icon-note; 
  }
}
.lodur-icon-heart {
  &:before {
    content: $lodur-icon-heart; 
  }
}
.lodur-icon-arrow-up {
  &:before {
    content: $lodur-icon-arrow-up; 
  }
}
.lodur-icon-arrow-right {
  &:before {
    content: $lodur-icon-arrow-right; 
  }
}
.lodur-icon-flag {
  &:before {
    content: $lodur-icon-flag; 
  }
}
.lodur-icon-user-contact {
  &:before {
    content: $lodur-icon-user-contact; 
  }
}
.lodur-icon-settings {
  &:before {
    content: $lodur-icon-settings; 
  }
}
.lodur-icon-filter {
  &:before {
    content: $lodur-icon-filter; 
  }
}
.lodur-icon-arrow-left {
  &:before {
    content: $lodur-icon-arrow-left; 
  }
}
.lodur-icon-arrow-down {
  &:before {
    content: $lodur-icon-arrow-down; 
  }
}
.lodur-icon-edit {
  &:before {
    content: $lodur-icon-edit; 
  }
}
.lodur-icon-eye {
  &:before {
    content: $lodur-icon-eye; 
  }
}
.lodur-icon-add {
  &:before {
    content: $lodur-icon-add; 
  }
}
.lodur-icon-star {
  &:before {
    content: $lodur-icon-star; 
  }
}
.lodur-icon-check {
  &:before {
    content: $lodur-icon-check; 
  }
}
.lodur-icon-chevron-down {
  &:before {
    content: $lodur-icon-chevron-down; 
  }
}
.lodur-icon-zoom-in {
  &:before {
    content: $lodur-icon-zoom-in; 
  }
}
.lodur-icon-minus {
  &:before {
    content: $lodur-icon-minus; 
  }
}
.lodur-icon-search {
  &:before {
    content: $lodur-icon-search; 
  }
}
.lodur-icon-zoom-out {
  &:before {
    content: $lodur-icon-zoom-out; 
  }
}
.lodur-icon-chevron-left {
  &:before {
    content: $lodur-icon-chevron-left; 
  }
}
.lodur-icon-chevron-right {
  &:before {
    content: $lodur-icon-chevron-right; 
  }
}
.lodur-icon-alarm {
  &:before {
    content: $lodur-icon-alarm; 
  }
}
.lodur-icon-calendar {
  &:before {
    content: $lodur-icon-calendar; 
  }
}
.lodur-icon-user {
  &:before {
    content: $lodur-icon-user; 
  }
}
.lodur-icon-print {
  &:before {
    content: $lodur-icon-print; 
  }
}
.lodur-icon-edit-contact {
  &:before {
    content: $lodur-icon-edit-contact; 
  }
}
.lodur-icon-import {
  &:before {
    content: $lodur-icon-import; 
  }
}
.lodur-icon-comment {
  &:before {
    content: $lodur-icon-comment; 
  }
}
.lodur-icon-archive {
  &:before {
    content: $lodur-icon-archive; 
  }
}
.lodur-icon-unarchive {
  &:before {
    content: $lodur-icon-unarchive; 
  }
}
.lodur-icon-center-on {
  &:before {
    content: $lodur-icon-center-on; 
  }
}
.lodur-icon-zoom-to {
  &:before {
    content: $lodur-icon-zoom-to; 
  }
}
.lodur-icon-excel {
  &:before {
    content: $lodur-icon-excel; 
  }
}
.lodur-icon-user-info {
  &:before {
    content: $lodur-icon-user-info; 
  }
}
.lodur-icon-data-grid {
  &:before {
    content: $lodur-icon-data-grid; 
  }
}
.lodur-icon-device-mobile {
  &:before {
    content: $lodur-icon-device-mobile; 
  }
}
.lodur-icon-close-round {
  &:before {
    content: $lodur-icon-close-round; 
  }
}
.lodur-icon-check-round {
  &:before {
    content: $lodur-icon-check-round; 
  }
}
.lodur-icon-bin-open {
  &:before {
    content: $lodur-icon-bin-open; 
  }
}
.lodur-icon-move-to {
  &:before {
    content: $lodur-icon-move-to; 
  }
}
.lodur-icon-d-selected {
  &:before {
    content: $lodur-icon-d-selected; 
  }
}
.lodur-icon-d-deselected {
  &:before {
    content: $lodur-icon-d-deselected; 
  }
}
.lodur-icon-f-deselected {
  &:before {
    content: $lodur-icon-f-deselected; 
  }
}
.lodur-icon-f-selected {
  &:before {
    content: $lodur-icon-f-selected; 
  }
}
.lodur-icon-successful {
  &:before {
    content: $lodur-icon-successful; 
  }
}
.lodur-icon-male {
  &:before {
    content: $lodur-icon-male; 
  }
}
.lodur-icon-female {
  &:before {
    content: $lodur-icon-female; 
  }
}
.lodur-icon-exclam {
  &:before {
    content: $lodur-icon-exclam; 
  }
}
.lodur-icon-compass {
  &:before {
    content: $lodur-icon-compass; 
  }
}
.lodur-icon-location {
  &:before {
    content: $lodur-icon-location; 
  }
}
.lodur-icon-search-performance {
  &:before {
    content: $lodur-icon-search-performance; 
  }
}
.lodur-icon-administrator {
  &:before {
    content: $lodur-icon-administrator; 
  }
}
.lodur-icon-kommandant {
  &:before {
    content: $lodur-icon-kommandant; 
  }
}
.lodur-icon-central {
  &:before {
    content: $lodur-icon-central; 
  }
}
.lodur-icon-payment {
  &:before {
    content: $lodur-icon-payment; 
  }
}
.lodur-icon-attachment {
  &:before {
    content: $lodur-icon-attachment; 
  }
}
.lodur-icon-expand {
  &:before {
    content: $lodur-icon-expand; 
  }
}
.lodur-icon-smiley-happy {
  &:before {
    content: $lodur-icon-smiley-happy; 
  }
}
.lodur-icon-smiley-normal {
  &:before {
    content: $lodur-icon-smiley-normal; 
  }
}
.lodur-icon-smiley-sad {
  &:before {
    content: $lodur-icon-smiley-sad; 
  }
}
.lodur-icon-download {
  &:before {
    content: $lodur-icon-download; 
  }
}
.lodur-icon-upload {
  &:before {
    content: $lodur-icon-upload; 
  }
}
.lodur-icon-statistics {
  &:before {
    content: $lodur-icon-statistics; 
  }
}
.lodur-icon-adressbook {
  &:before {
    content: $lodur-icon-adressbook; 
  }
}
.lodur-icon-axe-big {
  &:before {
    content: $lodur-icon-axe-big; 
  }
}
.lodur-icon-dta {
  &:before {
    content: $lodur-icon-dta; 
  }
}
.lodur-icon-master-copy {
  &:before {
    content: $lodur-icon-master-copy; 
  }
}
.lodur-icon-alarm-ringing {
  &:before {
    content: $lodur-icon-alarm-ringing; 
  }
}
.lodur-icon-partly-cloudy {
  &:before {
    content: $lodur-icon-partly-cloudy; 
  }
}
.lodur-icon-subscribe {
  &:before {
    content: $lodur-icon-subscribe; 
  }
}
.lodur-icon-ics {
  &:before {
    content: $lodur-icon-ics; 
  }
}
.lodur-icon-csv {
  &:before {
    content: $lodur-icon-csv; 
  }
}
.lodur-icon-weather-partly-cloudy-day-icon {
  &:before {
    content: $lodur-icon-weather-partly-cloudy-day-icon; 
  }
}
.lodur-icon-bed {
  &:before {
    content: $lodur-icon-bed; 
  }
}
.lodur-icon-save {
  &:before {
    content: $lodur-icon-save; 
  }
}
.lodur-icon-locked-form {
  &:before {
    content: $lodur-icon-locked-form; 
  }
}
.lodur-icon-inactive {
  &:before {
    content: $lodur-icon-inactive; 
  }
}
.lodur-icon-marker-a {
  &:before {
    content: $lodur-icon-marker-a; 
  }
}
.lodur-icon-marker-b {
  &:before {
    content: $lodur-icon-marker-b; 
  }
}
.lodur-icon-marker-c {
  &:before {
    content: $lodur-icon-marker-c; 
  }
}
.lodur-icon-marker-d {
  &:before {
    content: $lodur-icon-marker-d; 
  }
}
.lodur-icon-army {
  &:before {
    content: $lodur-icon-army; 
  }
}
.lodur-icon-workplace {
  &:before {
    content: $lodur-icon-workplace; 
  }
}
.lodur-icon-boat {
  &:before {
    content: $lodur-icon-boat; 
  }
}
.lodur-icon-driver-license {
  &:before {
    content: $lodur-icon-driver-license; 
  }
}
.lodur-icon-bank {
  &:before {
    content: $lodur-icon-bank; 
  }
}
.lodur-icon-group {
  &:before {
    content: $lodur-icon-group; 
  }
}
.lodur-icon-zug {
  &:before {
    content: $lodur-icon-zug; 
  }
}
.lodur-icon-funktion {
  &:before {
    content: $lodur-icon-funktion; 
  }
}
.lodur-icon-terminart {
  &:before {
    content: $lodur-icon-terminart; 
  }
}
.lodur-icon-medal {
  &:before {
    content: $lodur-icon-medal; 
  }
}
.lodur-icon-rank {
  &:before {
    content: $lodur-icon-rank; 
  }
}
.lodur-icon-absent {
  &:before {
    content: $lodur-icon-absent; 
  }
}
.lodur-icon-roman-7 {
  &:before {
    content: $lodur-icon-roman-7; 
  }
}
.lodur-icon-equipment {
  &:before {
    content: $lodur-icon-equipment; 
  }
}
.lodur-icon-course {
  &:before {
    content: $lodur-icon-course; 
  }
}
.lodur-icon-my-location {
  &:before {
    content: $lodur-icon-my-location; 
  }
}
.lodur-icon-location-of-emergency {
  &:before {
    content: $lodur-icon-location-of-emergency; 
  }
}
.lodur-icon-location-of-fire-engine {
  &:before {
    content: $lodur-icon-location-of-fire-engine; 
  }
}
.lodur-icon-location-of-fire-fepot {
  &:before {
    content: $lodur-icon-location-of-fire-fepot; 
  }
}
.lodur-icon-forklift-icon-01 {
  &:before {
    content: $lodur-icon-forklift-icon-01; 
  }
}
.lodur-icon-pdf {
  &:before {
    content: $lodur-icon-pdf; 
  }
}
.lodur-icon-move-left {
  &:before {
    content: $lodur-icon-move-left; 
  }
}
.lodur-icon-move-right {
  &:before {
    content: $lodur-icon-move-right; 
  }
}
.lodur-icon-hourglass {
  &:before {
    content: $lodur-icon-hourglass; 
  }
}
.lodur-icon-event-sign-off {
  &:before {
    content: $lodur-icon-event-sign-off; 
  }
}
.lodur-icon-event-sign-off-undo {
  &:before {
    content: $lodur-icon-event-sign-off-undo; 
  }
}
.lodur-icon-mobile-siren {
  &:before {
    content: $lodur-icon-mobile-siren; 
  }
}
.lodur-icon-cal-empty {
  &:before {
    content: $lodur-icon-cal-empty; 
  }
}
.lodur-icon-cal-check {
  &:before {
    content: $lodur-icon-cal-check; 
  }
}
.lodur-icon-cal-cross {
  &:before {
    content: $lodur-icon-cal-cross; 
  }
}
.lodur-icon-xml {
  &:before {
    content: $lodur-icon-xml; 
  }
}
.lodur-icon-taf {
  &:before {
    content: $lodur-icon-taf; 
  }
}
.lodur-icon-emergency {
  &:before {
    content: $lodur-icon-emergency; 
  }
}
.lodur-icon-course-1 {
  &:before {
    content: $lodur-icon-course-1; 
  }
}
.lodur-icon-general-activities {
  &:before {
    content: $lodur-icon-general-activities; 
  }
}
.lodur-icon-meeting {
  &:before {
    content: $lodur-icon-meeting; 
  }
}
.lodur-icon-practice {
  &:before {
    content: $lodur-icon-practice; 
  }
}
.lodur-icon-grant-permission {
  &:before {
    content: $lodur-icon-grant-permission; 
  }
}
.lodur-icon-transfer {
  &:before {
    content: $lodur-icon-transfer; 
  }
}
.lodur-icon-folder-closed {
  &:before {
    content: $lodur-icon-folder-closed; 
  }
}
.lodur-icon-folder-open {
  &:before {
    content: $lodur-icon-folder-open; 
  }
}
.lodur-icon-folder-withfile {
  &:before {
    content: $lodur-icon-folder-withfile; 
  }
}
.lodur-icon-time {
  &:before {
    content: $lodur-icon-time; 
  }
}
.lodur-icon-nav-usermanual {
  &:before {
    content: $lodur-icon-nav-usermanual; 
  }
}
.lodur-icon-nav-notes {
  &:before {
    content: $lodur-icon-nav-notes; 
  }
}
.lodur-icon-nav-setting {
  &:before {
    content: $lodur-icon-nav-setting; 
  }
}
.lodur-icon-nav-home {
  &:before {
    content: $lodur-icon-nav-home; 
  }
}
.lodur-icon-nav-logout {
  &:before {
    content: $lodur-icon-nav-logout; 
  }
}
.lodur-icon-nav-upward {
  &:before {
    content: $lodur-icon-nav-upward; 
  }
}
.lodur-icon-nav-support {
  &:before {
    content: $lodur-icon-nav-support; 
  }
}
.lodur-icon-nav-modulelist {
  &:before {
    content: $lodur-icon-nav-modulelist; 
  }
}
.lodur-icon-nav-hotlinks {
  &:before {
    content: $lodur-icon-nav-hotlinks; 
  }
}
.lodur-icon-nav-monitor {
  &:before {
    content: $lodur-icon-nav-monitor; 
  }
}
.lodur-icon-lock {
  &:before {
    content: $lodur-icon-lock; 
  }
}
.lodur-icon-mobile-view {
  &:before {
    content: $lodur-icon-mobile-view; 
  }
}
.lodur-icon-hand {
  &:before {
    content: $lodur-icon-hand; 
  }
}
.lodur-icon-eraser {
  &:before {
    content: $lodur-icon-eraser; 
  }
}
.lodur-icon-pentagon {
  &:before {
    content: $lodur-icon-pentagon; 
  }
}
.lodur-icon-list-view {
  &:before {
    content: $lodur-icon-list-view; 
  }
}
.lodur-icon-column-view {
  &:before {
    content: $lodur-icon-column-view; 
  }
}
.lodur-icon-grid-view {
  &:before {
    content: $lodur-icon-grid-view; 
  }
}
.lodur-icon-alarm-groups {
  &:before {
    content: $lodur-icon-alarm-groups; 
  }
}
.lodur-icon-cart {
  &:before {
    content: $lodur-icon-cart; 
  }
}
.lodur-icon-alarm-group2 {
  &:before {
    content: $lodur-icon-alarm-group2; 
  }
}
.lodur-icon-pending {
  &:before {
    content: $lodur-icon-pending; 
  }
}
.lodur-icon-reject {
  &:before {
    content: $lodur-icon-reject; 
  }
}
.lodur-icon-unlock {
  &:before {
    content: $lodur-icon-unlock; 
  }
}
.lodur-icon-location-small {
  &:before {
    content: $lodur-icon-location-small; 
  }
}
.lodur-icon-arrow-circle-right {
  &:before {
    content: $lodur-icon-arrow-circle-right; 
  }
}
.lodur-icon-arrow-circle-left {
  &:before {
    content: $lodur-icon-arrow-circle-left; 
  }
}
.lodur-icon-period-end {
  &:before {
    content: $lodur-icon-period-end; 
  }
}
.lodur-icon-change-course {
  &:before {
    content: $lodur-icon-change-course; 
  }
}
.lodur-icon-attendance-checklist {
  &:before {
    content: $lodur-icon-attendance-checklist; 
  }
}
.lodur-icon-exam-feedback {
  &:before {
    content: $lodur-icon-exam-feedback; 
  }
}
.lodur-icon-checklist {
  &:before {
    content: $lodur-icon-checklist; 
  }
}
.lodur-icon-pencil {
  &:before {
    content: $lodur-icon-pencil; 
  }
}
.lodur-icon-pause {
  &:before {
    content: $lodur-icon-pause; 
  }
}
.lodur-icon-home {
  &:before {
    content: $lodur-icon-home; 
  }
}
.lodur-icon-gender-neutral {
  &:before {
    content: $lodur-icon-gender-neutral; 
  }
}
.lodur-icon-attendance {
  &:before {
    content: $lodur-icon-attendance; 
  }
}
.lodur-icon-breathing-apparatus {
  &:before {
    content: $lodur-icon-breathing-apparatus; 
  }
}
.lodur-icon-walkie-talkie {
  &:before {
    content: $lodur-icon-walkie-talkie; 
  }
}
.lodur-icon-suggestion {
  &:before {
    content: $lodur-icon-suggestion; 
  }
}
.lodur-icon-antenna {
  &:before {
    content: $lodur-icon-antenna; 
  }
}
.lodur-icon-man-confirmed-alarm {
  &:before {
    content: $lodur-icon-man-confirmed-alarm; 
  }
}
.lodur-icon-course-full {
  &:before {
    content: $lodur-icon-course-full; 
  }
}
.lodur-icon-emergency-plan {
  &:before {
    content: $lodur-icon-emergency-plan; 
  }
}
.lodur-icon-route {
  &:before {
    content: $lodur-icon-route; 
  }
}
.lodur-icon-course-booked {
  &:before {
    content: $lodur-icon-course-booked; 
  }
}
.lodur-icon-min-participants {
  &:before {
    content: $lodur-icon-min-participants; 
  }
}
.lodur-icon-full {
  &:before {
    content: $lodur-icon-full; 
  }
}
.lodur-icon-instructor {
  &:before {
    content: $lodur-icon-instructor; 
  }
}
.lodur-icon-clock {
  &:before {
    content: $lodur-icon-clock; 
  }
}
.lodur-icon-chevron-thin-right {
  &:before {
    content: $lodur-icon-chevron-thin-right; 
  }
}
.lodur-icon-chevron-thin-left {
  &:before {
    content: $lodur-icon-chevron-thin-left; 
  }
}
.lodur-icon-star-tag {
  &:before {
    content: $lodur-icon-star-tag; 
  }
}
.lodur-icon-map-center {
  &:before {
    content: $lodur-icon-map-center; 
  }
}
.lodur-icon-north {
  &:before {
    content: $lodur-icon-north; 
  }
}
.lodur-icon-teacher-full {
  &:before {
    content: $lodur-icon-teacher-full; 
  }
}
.lodur-icon-teacher-not-enough {
  &:before {
    content: $lodur-icon-teacher-not-enough; 
  }
}
.lodur-icon-100 {
  &:before {
    content: $lodur-icon-100; 
  }
}
.lodur-icon-no {
  &:before {
    content: $lodur-icon-no; 
  }
}
.lodur-icon-camera {
  &:before {
    content: $lodur-icon-camera; 
  }
}
.lodur-icon-link {
  &:before {
    content: $lodur-icon-link; 
  }
}
.lodur-icon-file {
  &:before {
    content: $lodur-icon-file; 
  }
}
.lodur-icon-ake {
  &:before {
    content: $lodur-icon-ake; 
  }
}
.lodur-icon-shopping-bag {
  &:before {
    content: $lodur-icon-shopping-bag; 
  }
}
.lodur-icon-person-present {
  &:before {
    content: $lodur-icon-person-present; 
  }
}
.lodur-icon-person-absent {
  &:before {
    content: $lodur-icon-person-absent; 
  }
}
.lodur-icon-undo {
  &:before {
    content: $lodur-icon-undo; 
  }
}
.lodur-icon-phone {
  &:before {
    content: $lodur-icon-phone; 
  }
}
.lodur-icon-web {
  &:before {
    content: $lodur-icon-web; 
  }
}
.lodur-icon-database {
  &:before {
    content: $lodur-icon-database; 
  }
}
.lodur-icon-text-element {
  &:before {
    content: $lodur-icon-text-element; 
  }
}
.lodur-icon-microphone {
  &:before {
    content: $lodur-icon-microphone; 
  }
}
.lodur-icon-ticket-answered {
  &:before {
    content: $lodur-icon-ticket-answered; 
  }
}
.lodur-icon-ticket-closed {
  &:before {
    content: $lodur-icon-ticket-closed; 
  }
}
.lodur-icon-ticket-open {
  &:before {
    content: $lodur-icon-ticket-open; 
  }
}
.lodur-icon-ticket-pending {
  &:before {
    content: $lodur-icon-ticket-pending; 
  }
}
.lodur-icon-reply {
  &:before {
    content: $lodur-icon-reply; 
  }
}
.lodur-icon-star-fill {
  &:before {
    content: $lodur-icon-star-fill; 
  }
}
.lodur-icon-star-outline {
  &:before {
    content: $lodur-icon-star-outline; 
  }
}
.lodur-icon-smile {
  &:before {
    content: $lodur-icon-smile; 
  }
}
.lodur-icon-hashtag {
  &:before {
    content: $lodur-icon-hashtag; 
  }
}
.lodur-icon-arrow-thin-left {
  &:before {
    content: $lodur-icon-arrow-thin-left; 
  }
}
.lodur-icon-shop {
  &:before {
    content: $lodur-icon-shop; 
  }
}
.lodur-icon-previous-order {
  &:before {
    content: $lodur-icon-previous-order; 
  }
}
.lodur-icon-cart-thin {
  &:before {
    content: $lodur-icon-cart-thin; 
  }
}

// App Styles Start

body{
    background:#ffffff;
}

.zentrallager{
    .top-bar{
        border-bottom: 1px solid $border-grey;
        background: #ffffff;
        padding: 5px 0;
        a{
            color: #000000;
        }
        span{
            font-size: 30px;
            position: absolute;
            margin-left: 12px;
            &:hover{
                background-color: #f5f5f5;
                border-radius: 50%;
            }
        }
        span.lodur-icon-arrow-thin-left{
          left: 0;
        }
        span.lodur-icon-arrow-thin-right{
          right: 0;
        }
        h1{
            text-align: center;
            font-size: 20px;
            color: #000;
        }
    }
    .category-list{
        padding-top: 50px;
        padding-bottom: 60px;
        ul{
            margin: 0;
            padding: 0;
            list-style-type: none;
            li{
                background-color: #f5f5f5;
                border-radius: 5px;
                display: inline-block;
                padding: 5px 10px;
                width: 100%;
                margin: 0;
                border: 1px solid #f5f5f5;
                &:hover{
                    background-color: #fff;
                    border: 1px solid #7f7f7f;
                }
                a{
                    color: #000000;
                    display: table;
                    width: 100%;
                }
                span{
                    font-weight: 600;
                    font-size: 14px;
                    margin-top: 10px;
                    float: left;
                }
            }
        }
    }
    .productMenu{
        background: #ffffff;
        border-top: 1px solid #e6e6e6;
        ul{
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: row;
            justify-content: center;
            li{
                list-style-type: none;
                padding: 15px 15px 10px;
                width: 100%;
                text-align: center;
                border-bottom: 2px solid #ffffff;
                display: initial!important;
                &.active{
                    border-bottom: 2px solid #000000;
                }
                &:hover{
                    border-bottom: 2px solid #000000;
                }
                a{
                  text-decoration: none;
                }
                span{
                    font-size: 26px;
                    color: #000000;
                    &.lodur-icon-previous-order{
                      font-size: 32px;
                    }
                    &.lodur-icon-cart-thin{
                      font-size: 32px;
                    }
                }
            }
        }
    }
    .cartSteps{
      .subTotal{
        background-color: $medium-grey;
        padding: 2px 15px;
        display: flex;
        justify-content: space-between;
        span{
          font-size: 14px;
          color: $dark-grey;
          font-weight: 600;
        }
      }
      .stepButton{
        background-color: $btn-green;
        padding: 10px 15px;
        text-align: center;
        a{
          font-size: 16px;
          color: $dark-grey;
          font-weight: 600;
          color: #ffffff;
          &:hover{
            text-decoration: none;
          }
        }
      }
    }
    .product-list{
      padding-top: 50px;
      padding-bottom: 60px;
      
      .prod-img-container{
        background: $light-grey;
        text-align: center;
        padding: 10px;
        height: 260px;        
      }
      .prod-info{
        padding-top: 5px;
        margin-bottom: 15px;
        display: inline-block;
        width: 100%;
        .discount-tag{
            background-color: #ec4837;
            color: #ffffff;
            font-size: 12px;
            padding: 0 5px 0 7px;
            line-height: 15px;
            width: 80%;
        }
        .prodName{
            font-size: 12px;
            font-weight: 600;
            margin-top: 5px;
        }
        .rate{
            font-size: 12px;
            color: #cccccc;
            text-decoration: line-through;
            text-align: right;
        }
        .price{
            font-size: 12px;
            color: #ec4837;
            text-align: right;
            margin-top: 2px;
        }
      }
    }
    
    .zen-cart{
      padding-top: 50px;
      padding-bottom: 60px;
      ul{
        margin: 0;
        padding: 0;
        li{
          list-style-type: none;
          display: flex;
          align-items: center;
          padding: 10px 0;
          border-bottom: 2px solid $border-grey;
          .remove-from-cart{
            width: 8%;
            text-align: right;
          }
          .prod-img-container{
            background: $light-grey;
            text-align: center;
            padding: 10px;
            width: 25%;
            float: left;
            img{
              height: 60px;
            }
          }
          .cart-prod-info{
            width: 75%;
            float: left;
            padding: 0 0 0 15px;
            justify-content: space-between;
            display: flex;
            align-items: center;
            span{
              display: block;
            }
            span:nth-child(1){
              font-size: 11px;
              color: #343434;
              line-height: 12px;
            }
            span:nth-child(2){
              font-size: 14px;
              color: #000000;
              line-height: 22px;
              font-weight: 600;
            }
            span:nth-child(3){
              font-size: 12px;
              color: #969696;
              line-height: 12px;
            }
            span:nth-child(4){
              font-size: 14px;
              color: #21a468;
              padding: 10px 0 0 0;
            }
            .quantity-input{
              float: right;
              span{
                font-size: 14px;
              }
              input{
                width: 50px;
                border: 1px solid #ccc;
              }
            }
          }
        }
      }
    }
    .zen-cart-step-2{
      padding-top: 50px;
      padding-bottom: 60px;
    }
    .zen-bestellen{
        padding: 15px 15px 30px;
        font-size: 12px;
        color: #000000;
      span{
        font-size: 12px;
        font-weight: 600;
        color: #000000;
      }
    }
}


// App Styles End

/* Lodur Mobile Form Elements Start **************************************************/

.lodurMobile-form input[type=text], .lodurMobile-form input[type=date], .lodurMobile-form input[type=time], .lodurMobile-form select{
  padding: 0.4rem 0.3rem;
  border-radius: 0.25rem;
  border: 1px solid #dadada;
  background-color: #ffffff;
  font-size: 0.875rem;
  margin-top: 0.150rem;
  width: 100%;
  margin-bottom: 10px;
  height: 36px;
}

.lodurMobile-form textarea{
padding: 0.4rem 0.3rem;
border-radius: 0.25rem;
border: 1px solid #dadada;
background-color: #ffffff;
font-size: 0.875rem;
margin-top: 0.150rem;
width: 100%;
margin-bottom: 10px;
}

.lodurMobile-form label{
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.lodurMobile-form--datePicker, .lodurMobile-form--timePicker{
  position: absolute;
  right: 15px;
  bottom: 20px;
}

.lodurMobile-form--radioButton{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.lodurMobile-form--radioButton div{
  border-radius: 0.25rem;
  border: 1px solid #dadada;
  padding: 5px 10px;
  margin: 0.150rem 10px 0 0;
  font-size: 13px;
}

.lodurMobile-form--radioButton div input[type=radio]{
  margin: 0 5px 0 0;
}


/* Lodur Mobile Form Elements End **************************************************/




/*** Desktop Version Starts Here **********/

.product-list{
  .prod-info{
    .mouse-hover-info{
      clear: both; 
      padding: 15px 0 0;
      ul{
        padding:0;
        margin:0; 
        list-style-type:none;
        li{
          display: inline-block;
          padding: 0;
          a{
            display: inline-block;
            border: 1px solid #fff;
            margin-right: 1px;
            &:hover{
              // border: 1px solid #000;
            }
          }
          .active{
            border: 1px solid #000;
          }
        }
      }
    }
  }
  .zen-product{
    height: 330px;
    &:hover{
      .prod-info-onHover{
        transition: transform 0.2s ease-in;
        transform: translateY(-50px);
        cursor: pointer;
        .mouse-hover-info{
          opacity: 1;
          transition: opacity 0.3s ease-in;
        }
      }
    }
    .prod-info-onHover{
      background: #fff;
      transition: transform 0.2s ease-out;
      .mouse-hover-info{
        opacity: 0;
        transition: opacity 0.3s ease-out;
      }
    }
  }
}


.prodDetails-sidebar{
    .product-details{
        padding-top: 50px;
        padding-bottom: 60px;
        .prod-img-container{
            background-color: #f6f6f6;
            text-align: center;
            padding: 10px;
        }
        .prod-info{
            margin-top: 5px;
            margin-bottom: 15px;
            display: inline-block;
            width: 100%;
            .sizeAndquantity{
              font-size: 12px;
              display: block;
              padding-top: 18px;
              span{
                margin-bottom: 5px;
                display: block;
              }
              .productSize{
                float: left;
                margin-right: 5px;
                select{
                  height: 25px;
                }
              }
              .productQuantity{
                float: left;
                input{
                  height: 25px;
                  width: 65px;
                }
              }
            }
            .price{
              font-size: 14px;
              color: #ec4837;
              text-align: right;
              margin-top: 2px;
              margin-bottom: 10px;
          }
          .btn-add-to-cart{
            background-color: #21a468;
            border-radius: 3px;
            padding: 3px 0 0 5px;
            width: 40px;
            float: right;
            span{
              color: #ffffff;
              font-size:26px;
            }
          }
          .productSpec{
            font-size: 12px;
            line-height: 12px;
            float: left;
            width: 100%;
            margin: 15px 0;
            ul{
              margin: 0;
              padding: 0;
              li{
                list-style-type: none;
                line-height: 18px;
              }
            }
          }
        }      
    }
}

/*** Side Modal Starts Here **********/

	.modal.right .modal-dialog {
		position: fixed;
		margin: auto;
    width: 520px;
    max-width: 1520px!important;
		height: 100%;
		-webkit-transform: translate3d(0%, 0, 0);
		    -ms-transform: translate3d(0%, 0, 0);
		     -o-transform: translate3d(0%, 0, 0);
		        transform: translate3d(0%, 0, 0);
	}


	.modal.right .modal-content {
		height: 100%;
		overflow-y: auto;
	}
	

	.modal.right .modal-body {
		padding: 15px 15px 80px;
  }
  
  /*Right*/
	.modal.right.fade .modal-dialog {
		right: -520px;
		-webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, right 0.3s ease-out;
		        transition: opacity 0.3s linear, right 0.3s ease-out;
	}
	
	.modal.right.fade.show .modal-dialog {
		right: 0;
	}

/* ----- MODAL STYLE ----- */
	.modal-content {
		border-radius: 0;
		border: none;
	}

	.modal-header {
		border-bottom-color: #EEEEEE;
		background-color: #FAFAFA;
	}
  /*** Side Modal Ends Here **********/

  /************************************************************* Product Details Image Gallery Start **********/

 /* Compatibility styles for frameworks like bootstrap, foundation e.t.c */
.xzoom-source img, .xzoom-preview img, .xzoom-lens img {
  display: block;
  max-width: none;
  max-height: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
/* --------------- */

/* xZoom Styles below */
.xzoom-container { 
  display: inline-block;
  width: 100%;
}

.xzoom-container img#xzoom-default{ 
    width: 423px!important;
    object-fit: cover;
}


.xzoom-thumbs {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 20px;
}

// .xzoom { 
//   -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
//   -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
//   box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);  
// }
// .xzoom2, .xzoom3, .xzoom4, .xzoom5 {
//   -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
//   -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
//   box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
// }

/* Thumbs */
.xzoom-gallery, .xzoom-gallery2, .xzoom-gallery3, .xzoom-gallery4, .xzoom-gallery5 {
  border: 1px solid #cecece;
  margin-left: 5px;
  margin-bottom: 10px;
}

.xzoom-source, .xzoom-hidden {
  display: block;
  position: static;
  z-index: 9999;
  float: none;
  clear: both;
}

/* Everything out of border is hidden */
.xzoom-hidden {
  overflow: hidden;
}

/* Preview */
// .xzoom-preview {
//   border: 1px solid #ccc;
// }

/* Lens */
// .xzoom-lens {
//   border: none;
//   box-shadow: -0px -0px 10px rgba(0,0,0,0.50);
//   cursor: crosshair;
// }

/* Loading */
.xzoom-loading {
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 100%;
  opacity: .7;
  background: url(../assets/image/xloading.gif);
  width: 48px;
  height: 48px;
}

/* Additional class that applied to thumb when it is active */
.xactive {

  border: 1px solid #000;
}

/* Caption */
.xzoom-caption {
  display: none;
  position: absolute;
  bottom: -43px;
  left: 0;
  background: #000;
  width: 100%;
  text-align: left;
}

.xzoom-caption span {
  color: #fff;
  font-family: Arial, sans-serif;
  display: block;
  font-size: 0.75em;
  font-weight: bold;
  padding: 10px;
}

#theImage {
  transition: opacity 400ms;
}


/*********** Mini Shopping Cart Start *****************/

$main-color: #ec4837;
$light-text: #ABB0BE;

.cartAnd-miniCart{
    padding: 30px 0;
    a{
        color: $main-color;
        text-decoration: none;
        &:hover{
            text-decoration: none;
        }
        span.lodur-icon-cart-thin{
            font-size: 2rem;
        }
        span.badge{
            font-size: 1rem;
            font-weight: 400;
            float: right;
            position: relative;
            top: 5px;
        }
    }
    .button {
        background: $main-color;
        color:white;
        text-align: center;
        padding: 12px;
        text-decoration: none;
        display: block;
        border-radius: 3px;
        font-size: 16px;
        margin: 25px 0 0 0;
        
        &:hover {
          background: lighten($main-color, 3%);
        }
    }
}

.shopping-cart {
    margin: 20px 0;
    float: right;
    background: #fff;
    width: 320px;
    position: absolute;
    right: 25px;
    z-index: 1;
    top: 55px;
    border-radius: 3px;
    padding: 20px;
    display: none;
    -webkit-box-shadow: 0px 0px 26px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 26px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 26px 0px rgba(0,0,0,0.15);
        
    
    .shopping-cart-header {
      border-bottom: 1px solid #ccc;
      padding-bottom: 15px;
      .lodur-icon-cart-thin{
          font-size: 1.5rem;
      }
      span.badge{
        font-size: 1rem;
        font-weight: 400;
        position: relative;
        top: -3px;
    }
      
      .shopping-cart-total {
        float: right;
      }
    }
    
    .shopping-cart-items {
        padding-left: 0;
        list-style-type: none;
      
      padding-top: 20px;
  
        li {
          margin-bottom: 18px;
        }
  
      img {
        float: left;
        margin-right: 12px;
        width: 70px;
        height: 70px;
      }
      
      .item-name {
        display: block;
        padding-top: 10px;
        font-size: 14px;
      }
      
      .item-price {
        color: $main-color;
        margin-right: 8px;
      }
      
      .item-quantity {
        color: $light-text;
      }
    }
     
  }
  
  .shopping-cart:after {
      bottom: 100%;
      left: 89%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-bottom-color: #fff;
      border-width: 8px;
      margin-left: -8px;
      
  }
  
  .cart-icon {
    color: #515783;
    font-size: 24px;
    margin-right: 7px;
    float: left;
  }
  

  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  
/*********** Mini Shopping Cart End *****************/
  

/*** Desktop Version End Here **********/

@media (max-width: 992px) {
  .carousel-inner .carousel-item > div {
      display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
      display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
  justify-content: center;
}

@media (min-width: 992px) {
  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(20%);
  }
  
  .carousel-inner .carousel-item-left.active, 
  .carousel-inner .carousel-item-prev {
    transform: translateX(-20%);
  }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}

