$icomoon-font-family: "lodur-minimalistic-icons" !default;
$icomoon-font-path: "../assets/icon" !default;

$lodur-icon-athlete-1: "\61";
$lodur-icon-chevron-up: "\62";
$lodur-icon-dollar: "\63";
$lodur-icon-list-ordered: "\64";
$lodur-icon-bin: "\65";
$lodur-icon-chat: "\66";
$lodur-icon-more: "\67";
$lodur-icon-minus2: "\68";
$lodur-icon-alert: "\69";
$lodur-icon-arrow-small-down: "\6a";
$lodur-icon-close2: "\6b";
$lodur-icon-list: "\6c";
$lodur-icon-three-bars: "\6d";
$lodur-icon-mail-read: "\6e";
$lodur-icon-arrow-small-up: "\6f";
$lodur-icon-arrow-small-left: "\70";
$lodur-icon-arrow-small-right: "\71";
$lodur-icon-mail: "\72";
$lodur-icon-less: "\73";
$lodur-icon-note: "\74";
$lodur-icon-heart: "\75";
$lodur-icon-arrow-up: "\76";
$lodur-icon-arrow-right: "\77";
$lodur-icon-flag: "\78";
$lodur-icon-user-contact: "\79";
$lodur-icon-settings: "\7a";
$lodur-icon-filter: "\41";
$lodur-icon-arrow-left: "\42";
$lodur-icon-arrow-down: "\43";
$lodur-icon-edit: "\44";
$lodur-icon-eye: "\45";
$lodur-icon-add: "\46";
$lodur-icon-star: "\47";
$lodur-icon-check: "\48";
$lodur-icon-chevron-down: "\49";
$lodur-icon-zoom-in: "\4a";
$lodur-icon-minus: "\4b";
$lodur-icon-search: "\4c";
$lodur-icon-zoom-out: "\4d";
$lodur-icon-chevron-left: "\4e";
$lodur-icon-chevron-right: "\4f";
$lodur-icon-alarm: "\50";
$lodur-icon-calendar: "\51";
$lodur-icon-user: "\52";
$lodur-icon-print: "\53";
$lodur-icon-edit-contact: "\54";
$lodur-icon-import: "\55";
$lodur-icon-comment: "\56";
$lodur-icon-archive: "\57";
$lodur-icon-unarchive: "\58";
$lodur-icon-center-on: "\59";
$lodur-icon-zoom-to: "\5a";
$lodur-icon-excel: "\30";
$lodur-icon-user-info: "\31";
$lodur-icon-data-grid: "\33";
$lodur-icon-device-mobile: "\32";
$lodur-icon-close-round: "\34";
$lodur-icon-check-round: "\35";
$lodur-icon-bin-open: "\36";
$lodur-icon-move-to: "\37";
$lodur-icon-d-selected: "\38";
$lodur-icon-d-deselected: "\39";
$lodur-icon-f-deselected: "\21";
$lodur-icon-f-selected: "\22";
$lodur-icon-successful: "\23";
$lodur-icon-male: "\24";
$lodur-icon-female: "\25";
$lodur-icon-exclam: "\26";
$lodur-icon-compass: "\27";
$lodur-icon-location: "\28";
$lodur-icon-search-performance: "\29";
$lodur-icon-administrator: "\2a";
$lodur-icon-kommandant: "\2b";
$lodur-icon-central: "\2c";
$lodur-icon-payment: "\2d";
$lodur-icon-attachment: "\2e";
$lodur-icon-expand: "\2f";
$lodur-icon-smiley-happy: "\3a";
$lodur-icon-smiley-normal: "\3b";
$lodur-icon-smiley-sad: "\3c";
$lodur-icon-download: "\3d";
$lodur-icon-upload: "\3e";
$lodur-icon-statistics: "\3f";
$lodur-icon-adressbook: "\40";
$lodur-icon-axe-big: "\5b";
$lodur-icon-dta: "\5d";
$lodur-icon-master-copy: "\5e";
$lodur-icon-alarm-ringing: "\5f";
$lodur-icon-partly-cloudy: "\60";
$lodur-icon-subscribe: "\7c";
$lodur-icon-ics: "\7d";
$lodur-icon-csv: "\7e";
$lodur-icon-weather-partly-cloudy-day-icon: "\5c";
$lodur-icon-bed: "\e000";
$lodur-icon-save: "\e001";
$lodur-icon-locked-form: "\7b";
$lodur-icon-inactive: "\e002";
$lodur-icon-marker-a: "\e003";
$lodur-icon-marker-b: "\e004";
$lodur-icon-marker-c: "\e005";
$lodur-icon-marker-d: "\e006";
$lodur-icon-army: "\e007";
$lodur-icon-workplace: "\e008";
$lodur-icon-boat: "\e009";
$lodur-icon-driver-license: "\e00b";
$lodur-icon-bank: "\e00c";
$lodur-icon-group: "\e00d";
$lodur-icon-zug: "\e00f";
$lodur-icon-funktion: "\e00e";
$lodur-icon-terminart: "\e010";
$lodur-icon-medal: "\e011";
$lodur-icon-rank: "\e012";
$lodur-icon-absent: "\e013";
$lodur-icon-roman-7: "\e014";
$lodur-icon-equipment: "\e015";
$lodur-icon-course: "\e016";
$lodur-icon-my-location: "\e017";
$lodur-icon-location-of-emergency: "\e018";
$lodur-icon-location-of-fire-engine: "\e019";
$lodur-icon-location-of-fire-fepot: "\e01a";
$lodur-icon-forklift-icon-01: "\e00a";
$lodur-icon-pdf: "\e01b";
$lodur-icon-move-left: "\e01c";
$lodur-icon-move-right: "\e01d";
$lodur-icon-hourglass: "\e01e";
$lodur-icon-event-sign-off: "\e01f";
$lodur-icon-event-sign-off-undo: "\e020";
$lodur-icon-mobile-siren: "\e021";
$lodur-icon-cal-empty: "\e022";
$lodur-icon-cal-check: "\e023";
$lodur-icon-cal-cross: "\e024";
$lodur-icon-xml: "\e025";
$lodur-icon-taf: "\e026";
$lodur-icon-emergency: "\e027";
$lodur-icon-course-1: "\e029";
$lodur-icon-general-activities: "\e02b";
$lodur-icon-meeting: "\e028";
$lodur-icon-practice: "\e02d";
$lodur-icon-grant-permission: "\e900";
$lodur-icon-transfer: "\e901";
$lodur-icon-folder-closed: "\e902";
$lodur-icon-folder-open: "\e903";
$lodur-icon-folder-withfile: "\e904";
$lodur-icon-time: "\e905";
$lodur-icon-nav-usermanual: "\e906";
$lodur-icon-nav-notes: "\e907";
$lodur-icon-nav-setting: "\e908";
$lodur-icon-nav-home: "\e90b";
$lodur-icon-nav-logout: "\e90c";
$lodur-icon-nav-upward: "\e90d";
$lodur-icon-nav-support: "\e90e";
$lodur-icon-nav-modulelist: "\e90f";
$lodur-icon-nav-hotlinks: "\e910";
$lodur-icon-nav-monitor: "\e909";
$lodur-icon-lock: "\e90a";
$lodur-icon-mobile-view: "\e911";
$lodur-icon-hand: "\e912";
$lodur-icon-eraser: "\e913";
$lodur-icon-pentagon: "\e914";
$lodur-icon-list-view: "\e915";
$lodur-icon-column-view: "\e916";
$lodur-icon-grid-view: "\e917";
$lodur-icon-alarm-groups: "\e918";
$lodur-icon-cart: "\e919";
$lodur-icon-alarm-group2: "\e91a";
$lodur-icon-pending: "\e91b";
$lodur-icon-reject: "\e91c";
$lodur-icon-unlock: "\e91d";
$lodur-icon-location-small: "\e91e";
$lodur-icon-arrow-circle-right: "\e91f";
$lodur-icon-arrow-circle-left: "\e920";
$lodur-icon-period-end: "\e921";
$lodur-icon-change-course: "\e922";
$lodur-icon-attendance-checklist: "\e923";
$lodur-icon-exam-feedback: "\e924";
$lodur-icon-checklist: "\e925";
$lodur-icon-pencil: "\e926";
$lodur-icon-pause: "\e927";
$lodur-icon-home: "\e928";
$lodur-icon-gender-neutral: "\e929";
$lodur-icon-attendance: "\e92a";
$lodur-icon-breathing-apparatus: "\e92b";
$lodur-icon-walkie-talkie: "\e92c";
$lodur-icon-suggestion: "\e92d";
$lodur-icon-antenna: "\e92e";
$lodur-icon-man-confirmed-alarm: "\e92f";
$lodur-icon-course-full: "\e930";
$lodur-icon-emergency-plan: "\e931";
$lodur-icon-route: "\e932";
$lodur-icon-course-booked: "\e933";
$lodur-icon-min-participants: "\e938";
$lodur-icon-full: "\e934";
$lodur-icon-instructor: "\e935";
$lodur-icon-clock: "\e936";
$lodur-icon-chevron-thin-right: "\e937";
$lodur-icon-chevron-thin-left: "\e939";
$lodur-icon-star-tag: "\e93a";
$lodur-icon-map-center: "\e93b";
$lodur-icon-north: "\e93c";
$lodur-icon-teacher-full: "\e93d";
$lodur-icon-teacher-not-enough: "\e93e";
$lodur-icon-100: "\e93f";
$lodur-icon-no: "\e940";
$lodur-icon-camera: "\e941";
$lodur-icon-link: "\e942";
$lodur-icon-file: "\e943";
$lodur-icon-ake: "\e944";
$lodur-icon-shopping-bag: "\e945";
$lodur-icon-person-present: "\e946";
$lodur-icon-person-absent: "\e947";
$lodur-icon-undo: "\e948";
$lodur-icon-phone: "\e949";
$lodur-icon-web: "\e94a";
$lodur-icon-database: "\e94b";
$lodur-icon-text-element: "\e94c";
$lodur-icon-microphone: "\e94d";
$lodur-icon-ticket-answered: "\e94e";
$lodur-icon-ticket-closed: "\e94f";
$lodur-icon-ticket-open: "\e950";
$lodur-icon-ticket-pending: "\e951";
$lodur-icon-reply: "\e952";
$lodur-icon-star-fill: "\e953";
$lodur-icon-star-outline: "\e954";
$lodur-icon-smile: "\e955";
$lodur-icon-hashtag: "\e956";
$lodur-icon-arrow-thin-left: "\e957";
$lodur-icon-shop: "\e958";
$lodur-icon-previous-order: "\e959";
$lodur-icon-cart-thin: "\e95a";

// Zentrallager style starts here

$light-grey: #f6f5f5;
$border-grey: #dcdcdc;
$medium-grey: #e1e1e1;
$dark-grey: #363636;

$btn-green: #21a468;